simple_driving==0.1.0
joint-state-publisher==2.4.0
rqt-srv==1.0.3
rqt-publisher==1.5.0
rqt-reconfigure==1.1.4
rqt-py-console==1.0.2
ros2topic==0.18.18
rqt-shell==1.0.2
ros2launch==0.19.13
ament-lint-cmake==0.12.15
ament-flake8==0.12.15
teleop-twist-keyboard==2.4.1
examples-rclpy-minimal-service==0.15.5
rosidl-cli==3.1.8
ament-xmllint==0.12.15
ament-uncrustify==0.12.15
quality-of-service-demo-py==0.20.9
examples-rclpy-minimal-subscriber==0.15.5
nav2-simple-commander==1.0.0
action-tutorials-py==0.20.9
topic-monitor==0.20.9
sros2==0.10.9
sensor-msgs-py==4.9.1
ros2lifecycle==0.18.18
ros2cli==0.18.18
launch-ros==0.19.13
rpyutils==0.2.2
osrf-pycommon==2.1.6
tf2-tools==0.25.20
rqt-graph==1.3.2
launch-testing-ros==0.19.13
launch-yaml==1.0.14
ros2pkg==0.18.18
ament-index-python==1.4.1
ros2interface==0.18.18
tf-transformations==1.1.1
rqt-bag-plugins==1.1.6
examples-rclpy-executors==0.15.5
generate-parameter-library-py==0.7.1
launch-xml==1.0.14
rqt-msg==1.2.0
rqt-robot-monitor==1.0.6
rosidl-runtime-py==0.9.3
ament-cppcheck==0.12.15
examples-rclpy-minimal-publisher==0.15.5
ros2node==0.18.18
ros2plugin==5.1.4
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-action-client==0.15.5
ament-lint==0.12.15
ros2component==0.18.18
ros2param==0.18.18
ros2service==0.18.18
ros2bag==0.15.16
examples-rclpy-minimal-action-server==0.15.5
rqt-gui-py==1.1.9
rqt-gui==1.1.9
launch==1.0.14
ament-package==0.14.2
tf2-ros-py==0.25.20
ros2multicast==0.18.18
ament-pep257==0.12.15
rqt-console==2.0.3
ros2run==0.18.18
rqt-service-caller==1.0.5
rqt-topic==1.5.1
demo-nodes-py==0.20.9
rqt-plot==1.1.5
ros2action==0.18.18
rqt-bag==1.1.6
launch-testing==1.0.14
ament-copyright==0.12.15
ament-cpplint==0.12.15
domain-coordinator==0.10.0
ros2doctor==0.18.18
rqt-action==2.0.1
rcutils==5.1.8
trajectory-msgs==4.9.1
robot-localization==3.5.4
rosidl-cmake==3.1.8
rosidl-typesupport-fastrtps-cpp==2.2.4
ros-gz-interfaces==0.244.24
rosgraph-msgs==1.2.2
rcl-interfaces==1.2.2
example-interfaces==0.9.3
interactive-markers==2.3.2
actionlib-msgs==4.9.1
scripts==3.9.0
qt-dotgraph==2.2.5
laser-geometry==2.4.1
tf2-kdl==0.25.20
diagnostic-updater==4.0.6
visualization-msgs==4.9.1
shape-msgs==4.9.1
python-qt-binding==1.1.3
rosidl-typesupport-cpp==2.0.2
action-tutorials-interfaces==0.20.9
rosbag2-py==0.15.16
qt-gui-py-common==2.2.5
angles==1.15.0
composition-interfaces==1.2.2
pcl-msgs==1.0.0
vision-msgs==4.1.1
lifecycle-msgs==1.2.2
image-geometry==3.2.1
irobot-create-msgs==2.1.0
geographic-msgs==1.0.6
rosidl-adapter==3.1.8
rosidl-typesupport-fastrtps-c==2.2.4
turtlesim==1.4.3
geometry-msgs==4.9.1
cv-bridge==3.2.1
rmw-dds-common==1.6.0
rosidl-generator-rs==0.4.12
rosbag2-interfaces==0.15.16
tf2-msgs==0.25.20
qt-gui==2.2.5
statistics-msgs==1.2.2
nav2-common==1.1.20
rosidl-parser==3.1.8
nav-2d-msgs==1.1.20
gazebo-msgs==3.9.0
sensor-msgs==4.9.1
pendulum-msgs==0.20.9
unique-identifier-msgs==2.2.1
turtlebot4-navigation==1.0.5
slam-toolbox==2.6.10
actuator-msgs==0.0.1
rqt-py-common==1.1.9
resource-retriever==3.1.3
nav2-msgs==1.1.20
rosidl-generator-c==3.1.8
ament-cmake-test==1.3.14
theora-image-transport==2.5.5
rosidl-typesupport-introspection-c==3.1.8
bond==4.1.4
gps-msgs==2.1.2
tf2-sensor-msgs==0.25.20
qt-gui-cpp==2.2.5
dwb-msgs==1.1.20
stereo-msgs==4.9.1
rosidl-typesupport-c==2.0.2
builtin-interfaces==1.2.2
message-filters==4.3.16
rclpy==3.3.21
controller-manager-msgs==2.54.0
rosidl-typesupport-introspection-cpp==3.1.8
controller-manager==2.54.0
turtlebot4-msgs==1.0.5
ackermann-msgs==2.0.2
ros-ign-interfaces==0.244.24
rosidl-generator-cpp==3.1.8
xacro==2.1.1
tf2-geometry-msgs==0.25.20
tf2-py==0.25.20
map-msgs==2.1.0
smclib==4.1.4
rosidl-generator-py==0.14.6
control-msgs==4.9.0
irobot-create-common-bringup==2.1.0
nav-msgs==4.9.1
std-srvs==4.9.1
logging-demo==0.20.9
std-msgs==4.9.1
diagnostic-msgs==4.9.1
action-msgs==1.2.2
attrs==25.4.0
polyscope==2.6.1
joblib==1.5.3
jsonschema==4.26.0
wandb==0.27.0
torchvision==0.22.1+cu118
markdown-it-py==4.0.0
jedi==0.19.2
PySide6==6.10.0
fastjsonschema==2.21.2
python-dateutil==2.9.0.post0
networkx==3.4.2
Pygments==2.20.0
platformdirs==4.9.4
ConfigArgParse==1.7.3
tqdm==4.67.3
addict==2.4.0
prompt_toolkit==3.0.52
pillow==12.1.1
threadpoolctl==3.6.0
tensorboard-data-server==0.7.2
blinker==1.9.0
annotated-types==0.7.0
nest-asyncio==1.6.0
nvidia-cusparse-cu11==11.7.5.86
retrying==1.4.2
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-cupti-cu11==11.8.87
urllib3==2.7.0
ipywidgets==8.1.8
comm==0.2.3
Farama-Notifications==0.0.4
ale-py==0.11.2
protobuf==7.34.1
tensorboard==2.20.0
wcwidth==0.6.0
pybullet==3.2.7
nvidia-nccl-cu11==2.21.5
numpy==2.2.6
pandas==2.3.3
typing_extensions==4.15.0
nvidia-cudnn-cu11==9.1.0.70
stable_baselines3==2.8.0
Jinja2==3.1.6
pyquaternion==0.9.9
PySide6_Addons==6.10.0
sentry-sdk==2.61.0
gymnasium==1.2.3
nvidia-cublas-cu11==11.11.3.6
rich==15.0.0
tzdata==2025.3
Werkzeug==3.1.6
itsdangerous==2.2.0
nvidia-nvtx-cu11==11.8.86
torch==2.7.1+cu118
sympy==1.14.0
filelock==3.25.2
executing==2.2.1
MarkupSafe==3.0.3
grpcio==1.80.0
plotly==6.6.0
PySide6_Essentials==6.10.0
opencv-python==4.13.0.92
pure_eval==0.2.3
contourpy==1.3.2
pygame-ce==2.5.7
mpmath==1.3.0
GitPython==3.1.50
pyparsing==3.3.2
pydantic==2.13.4
nvidia-cufft-cu11==10.9.0.58
triton==3.3.1
jupyter_core==5.9.1
fsspec==2026.2.0
referencing==0.37.0
matplotlib-inline==0.2.1
nvidia-curand-cu11==10.3.0.86
widgetsnbextension==4.0.15
matplotlib==3.10.9
nbformat==5.10.4
jsonschema-specifications==2025.9.1
stack-data==0.6.3
mdurl==0.1.2
Flask==3.1.3
shiboken6==6.10.0
exceptiongroup==1.3.1
scikit-learn==1.7.2
traitlets==5.14.3
rpds-py==0.30.0
ipython==8.38.0
parso==0.8.6
Markdown==3.10.2
pip==26.1.1
nvidia-cusolver-cu11==11.4.1.48
jupyterlab_widgets==3.0.16
nvidia-cuda-runtime-cu11==11.8.89
cloudpickle==3.1.2
narwhals==2.17.0
absl-py==2.4.0
gitdb==4.0.12
scipy==1.15.3
pydantic_core==2.46.4
asttokens==3.0.1
dash==4.0.0
typing-inspection==0.4.2
torchaudio==2.7.1+cu118
smmap==5.0.3
simple_driving==0.1.0
click==8.3.1
rosdep-modules==0.26.0
iniconfig==1.1.1
mercurial==6.1.1
ufw==0.36.1
more-itertools==8.10.0
nose2==0.9.2
python-debian==0.1.43+ubuntu1.1
colcon-ros==0.5.0
pyRFC3339==1.1
docutils==0.17.1
dulwich==0.20.31
olefile==0.46
colcon-override-check==0.0.1
colcon-package-information==0.4.1
lark==1.1.1
command-not-found==0.3
psutil==5.9.0
sympy==1.9
keyring==23.5.0
distro==1.7.0
colcon-bash==0.5.0
coverage==6.2
lxml==4.8.0
importlib-metadata==4.6.4
wadllib==1.3.6
Babel==2.8.0
colcon-notification==0.3.1
empy==3.3.4
webencodings==0.5.1
pymacaroons==0.13.0
pytest-cov==3.0.0
PyQt5==5.15.6
MarkupSafe==2.0.1
protobuf==3.12.4
pyusb==1.2.1.post1
meld==3.20.4
rospkg-modules==1.6.1
pybind11==2.9.1
pyflakes==2.4.0
pydot==1.4.2
pip==22.0.2
appdirs==1.4.4
colcon-package-selection==0.2.10
pyxdg==0.27
configobj==5.0.6
patiencediff==0.2.1
unicodedata2==14.0.0
numpy==1.21.5
matplotlib==3.5.1
macaroonbakery==1.3.1
beautifulsoup4==4.10.0
colcon-installed-package-information==0.2.1
fs==2.4.12
pyparsing==2.4.7
certifi==2020.6.20
ubuntu-drivers-common==0.0.0
pycodestyle==2.8.0
kiwisolver==1.3.2
colcon-common-extensions==0.3.0
ply==3.11
fastimport==0.9.14
decorator==4.4.2
soupsieve==2.3.1
mpmath==0.0.0
pythran==0.10.0
toml==0.10.2
roman==3.3
ufoLib2==0.13.1
pycups==2.0.1
docopt==0.6.2
setuptools==59.6.0
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-core==0.20.1
colcon-defaults==0.2.9
mccabe==0.6.1
lazr.restfulclient==0.14.4
vcstool==0.3.0
colcon-cmake==0.2.29
colcon-test-result==0.3.8
PyGObject==3.42.1
catkin-pkg==1.1.0
pydocstyle==6.1.1
gast==0.5.2
typeguard==2.2.2
PyGithub==1.55
rosdistro==1.0.1
colorama==0.4.4
click==8.0.3
vcstools==0.1.42
PyQt5-sip==12.9.1
reportlab==3.6.8
Pillow==9.0.1
attrs==21.2.0
launchpadlib==1.10.16
colcon-zsh==0.5.0
colcon-pkg-config==0.1.0
SecretStorage==3.3.1
packaging==21.3
xdg==5
requests-toolbelt==0.9.1
snowballstemmer==2.2.0
chardet==4.0.0
rosdistro-modules==1.0.1
fastbencode==0.0.5
colcon-mixin==0.2.3
Jinja2==3.0.3
pytz==2022.1
colcon-argcomplete==0.3.3
py==1.10.0
notify2==0.3
distlib==0.3.4
colorlog==6.6.0
requests==2.25.1
rosdep==0.26.0
Brlapi==0.8.3
apturl==0.5.2
httplib2==0.20.2
pluggy==0.13.0
urllib3==1.26.5
mpi4py==3.1.3
cryptography==3.4.8
systemd-python==234
language-selector==0.1
six==1.16.0
pytest==6.2.5
python-gitlab==2.10.1
Brotli==1.0.9
PyYAML==5.4.1
scipy==1.8.0
idna==3.3
liquidctl==1.17.0.dev3+g6227bbf
cycler==0.11.0
breezy==3.2.1
colcon-metadata==0.2.5
Deprecated==1.2.13
colcon-parallel-executor==0.3.0
pexpect==4.8.0
defer==1.0.6
python-dateutil==2.8.1
unattended-upgrades==0.1
cov-core==1.15.0
colcon-cd==0.2.1
netifaces==0.11.0
dbus-python==1.2.18
Pygments==2.11.2
beniget==0.4.1
colcon-recursive-crawl==0.2.3
gpg==1.16.0
ubuntu-pro-client==8001
oauthlib==3.2.0
colcon-powershell==0.5.0
catkin-pkg-modules==1.1.0
colcon-output==0.2.14
louis==3.20.0
transforms3d==0.3.1
wrapt==1.13.3
blinker==1.4
lazr.uri==1.0.6
html5lib==1.1
bloom==0.14.3
argcomplete==1.8.1
fonttools==4.29.1
crcmod==1.7
PyJWT==2.3.0
flake8==4.0.1
colcon-python-setup-py==0.2.9
distro-info==1.1+ubuntu0.2
zipp==1.0.0
PyNaCl==1.5.0
xkit==0.0.0
pycairo==1.20.1
lz4==3.1.3+dfsg
jeepney==0.7.1
ptyprocess==0.7.0
hidapi==0.9.0.post3
cupshelpers==1.0
python-apt==2.4.0+ubuntu4.1
wheel==0.37.1
